### react template
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
/build/
build.zip

psd
thumb
sketch

.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
